/ {
	servos {
		compatible = "pwm-leds";
		servo_a: servo_0 {
			pwms = <&pwm12 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;   /* TIM12 kênh 1, 20 ms */
		};
	};
	aliases {
		servo0 = &servo_a;
	};
};

&usart1 { status = "disabled"; };   /* PB14/PB15 là USART1 trong board DTS */

&pinctrl {
	tim12_ch1_pb14: tim12_ch1_pb14 {
		pinmux = <STM32_PINMUX('B', 14, AF2)>;
	};
};

&timers12 {
	st,prescaler = <99>;    /* 250 MHz / 100 = 2.5 MHz → 20 ms = 50000 tick (< 65536), bước 0.4 µs */
	status = "okay";
	pwm12: pwm {
		pinctrl-0 = <&tim12_ch1_pb14>;
		pinctrl-names = "default";
		status = "okay";
	};
};
