/* gpio + timer + watchdog + adc + pwm, taken from the driver READMEs. */
/ {
	ec_outputs {
		compatible = "gpio-leds";
		ext_led: ext_led {
			gpios = <&gpioe 0 GPIO_ACTIVE_HIGH>;
			label = "External LED";
		};
	};

	pwm_outputs {
		compatible = "pwm-leds";
		pwm_out0: pwm_out_0 {
			pwms = <&pwm2 3 PWM_KHZ(1) PWM_POLARITY_NORMAL>;
		};
	};

	zephyr,user {
		io-channels = <&adc1 15>;
	};

	aliases {
		out0 = &user_led;
		out1 = &ext_led;
		in0 = &user_btn;
		hwtimer0 = &counter5;
		watchdog0 = &iwdg;
		pwm0 = &pwm_out0;
	};
};

&gpioe { status = "okay"; };

&iwdg { status = "okay"; };

&timers5 {
	st,prescaler = <249>;
	status = "okay";
	counter5: counter {
		status = "okay";
	};
};

/* PA2 (TIM2_CH3) and PA3 (ADC1_INP15) are USART2 in the board DTS */
&usart2 { status = "disabled"; };

&pinctrl {
	tim2_ch3_pa2: tim2_ch3_pa2 {
		pinmux = <STM32_PINMUX('A', 2, AF1)>;
	};
	adc1_inp15_pa3: adc1_inp15_pa3 {
		pinmux = <STM32_PINMUX('A', 3, ANALOG)>;
	};
};

&timers2 {
	st,prescaler = <0>;
	status = "okay";
	pwm2: pwm {
		pinctrl-0 = <&tim2_ch3_pa2>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&adc1 {
	clocks = <&rcc STM32_CLOCK(AHB2, 10)>,
		 <&rcc STM32_SRC_HCLK ADCDAC_SEL(0)>;
	clock-names = "adcx", "adc_ker";
	pinctrl-0 = <&adc1_inp15_pa3>;
	pinctrl-names = "default";
	st,adc-clock-source = "ASYNC";
	st,adc-prescaler = <6>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	channel@f {
		reg = <15>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&die_temp { status = "okay"; };
&vref { status = "okay"; };
