/* i2c + spi + uart + rs485 + can, taken from the driver READMEs. */
/delete-node/ &st7920;

/ {
	zephyr,user {
		rs485-de-gpios = <&gpioc 3 GPIO_ACTIVE_HIGH>;
	};

	can_leds {
		compatible = "gpio-leds";
		can_tx_led: can_tx_led { gpios = <&gpiod 11 GPIO_ACTIVE_LOW>; label = "CAN TX"; };
		can_rx_led: can_rx_led { gpios = <&gpiod 12 GPIO_ACTIVE_LOW>; label = "CAN RX"; };
	};
};

&i2c1 {
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&usart6 {
	current-speed = <115200>;
};

&pinctrl {
	spi2_miso_pc2: spi2_miso_pc2 {
		pinmux = <STM32_PINMUX('C', 2, AF5)>;
		bias-pull-down;
	};
};

&spi2 {
	pinctrl-0 = <&spi2_sck_pa9 &spi2_miso_pc2 &spi2_mosi_pc1>;
	pinctrl-names = "default";
	cs-gpios = <&gpioc 0 GPIO_ACTIVE_LOW>;
	status = "okay";

	spidev: spidev@0 {
		compatible = "vnd,spi-device";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};
